<div class="product-info__icon-with-text" {{ block.shopify_attributes }}>
  <style>
    .hg-info .hg-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .hg-info .hg-item {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 5px 0;
    }
    /* iconen kleiner en uitgelijnd */
    .hg-ic {
      display: inline-flex;
    }
    .hg-ic img {
      display: block;
      width: 20px;
    }
    .hg-ic svg {
      width: 20px;
      height: 20px;
      {% comment %} stroke: #111; {% endcomment %}
      {% comment %} stroke-width: 2; {% endcomment %}
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  </style>

  <div class="hg-info">
    <ul class="hg-list">
      {% for i in (1..5) %}
        {% assign icon_id = "icon_" | append: i %}
        {% assign image_id = "image_" | append: i %}
        {% assign text_id = "text_" | append: i %}
        {% if block.settings[icon_id] != blank or block.settings[text_id] != blank %}
          <li class="hg-item">
            <span class="hg-ic" aria-hidden="true">
              {% if block.settings[image_id] != blank %}
                <img src="{{ block.settingss[image_id] | image_url: width: 100 }}" width="auto" height="auto" 
                  alt="{{ block.settings[image_id].alt }}">
              {% elsif block.settings[icon_id] != blank %}
                {{ block.settings[icon_id] }}
              {% endif %}
            </span>
            {% if block.settings[text_id] != blank %}
              <span>{{ block.settings[text_id] }}</span>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Icon Text",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Icon Texts"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Icon/Image 1"
    },
    {
      "type": "liquid",
      "id": "icon_1",
      "label": "SVG",
      "info": "Optional"
    },
    {
      "type": "text",
      "id": "text_1",
      "label": "Text 1",
      "default": "Free Shipping with USPS"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Icon/Image 2"
    },
    {
      "type": "liquid",
      "id": "icon_2",
      "label": "SVG",
      "info": "Optional"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Text 2",
      "default": "30-Day Money-Back Guarantee"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Icon/Image 3"
    },
    {
      "type": "liquid",
      "id": "icon_3",
      "label": "SVG",
      "info": "Optional"
    },
    {
      "type": "text",
      "id": "text_3",
      "label": "Text 3",
      "default": "Over 20,000+ happy customers"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Icon/Image 4"
    },
    {
      "type": "liquid",
      "id": "icon_4",
      "label": "SVG",
      "info": "Optional"
    },
    {
      "type": "text",
      "id": "text_4",
      "label": "Text 4"
    },
    {
      "type": "image_picker",
      "id": "image_5",
      "label": "Icon/Image 5"
    },
    {
      "type": "liquid",
      "id": "icon_5",
      "label": "SVG",
      "info": "Optional"
    },
    {
      "type": "text",
      "id": "text_5",
      "label": "Text 5"
    }
  ],
  "presets": [
    {
      "name": "Icon Text",
      "settings": {}
    }
  ]
}
{% endschema %}
